.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-y: scroll;
  .header {
    width: 100%;
    height: 145px;
    display: flex;
    gap: 17px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;
    .view_changer_header {
      height: 145px;
      width: 300px;
      border-right: solid 1px #E9F1FF;
      border-bottom: solid 1px #E9F1FF;
    }
    .calendar_controls {
      border-left: solid 1px #E9F1FF;
      border-bottom: solid 1px #E9F1FF;
      width: 100%;
      display: flex;
      flex-direction: column;
      .current_date {
        border: solid 1px hotpink;
        position: relative; 
        display: inline-block;
        display: flex;
        cursor: pointer;
        & span {
          z-index: 9;
        }
        .date_picker {
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          width: 60px;
          opacity: 0;
       }
      }
      .upper_header {
        height: 64px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 72px;
        border-bottom: solid 1px #E9F1FF;
        .controls {
          display: flex;
          align-items: center;
          gap: 8px;
          .control {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: solid 1px black;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }
      }
    }
  }
  .list {
    display: flex;
    gap: 17px;
  }
}